<h1 class="font-weight-bold">POLÍTICA DE COOKIES</h1>

<p class="text-justify">Cookies são pequenos ficheiros de texto que são baixados para o seu computador, tablet ou telemóvel quando você visita um site ou aplicativo. O site ou aplicação pode recuperar esses cookies do seu navegador da web (por exemplo, Internet Explorer, Mozilla Firefox ou Google Chrome) cada vez que você o visita, para que eles possam reconhecê-lo, lembrar da sua preferência e fornecer uma experiência online mais segura.</p>

<p class="text-justify">Geralmente, os cookies são muito úteis e são um método comum usado por quase todos os websites que você visita, pois ajudam a tornar sua experiência online o mais tranquila possível. Por motivos de segurança, muitos websites não funcionarão sem o uso de cookies (ou outras tecnologias semelhantes, como "web beacons" ou "tags").
</p>

<p class="text-justify">Os cookies geralmente não contêm nenhuma informação para identificar uma pessoa individual, mas são usados para identificar um navegador numa máquina individual.</p>

<p class="text-justify">Se preferir, você pode restringir, bloquear ou excluir cookies alterando as configurações do seu navegador, mas isso pode significar que o website não funcionará corretamente.</p>

<p class="text-justify">Para obter mais informações sobre cookies e o seu impacto sobre você e sobre a sua navegação, visite <a
    href="http://www.aboutcookies.org">www.aboutcookies.org</a>.</p>

<h2 class="font-weight-bold">TIPOS DE COOKIES</h2>

<h5 class="font-weight-bold">Cookies Necessários</h5>

<p class="text-justify">Estes cookies são essenciais para o ajudar a usar os recursos e os serviços que oferecemos no website starpadel. Sem esses cookies, os serviços que você deseja usar não podem ser fornecidos. Esses cookies não coletam informações sobre você que possam ser usadas para o identificar e não monitoram ou lembram onde você esteve na Internet.</p>

<h5 class="font-weight-bold">Cookies Funcionais</h5>

<p class="text-justify">Estes cookies permitem-nos proporcionar-lhe uma melhor experiência online quando utiliza o nosso website. Eles não coletam ou armazenam nenhuma informação que nos permita identificá-lo pessoalmente.</p>

<h5 class="font-weight-bold">Cookies de Desempenho</h5>

<p class="text-justify">Os cookies de desempenho ajudam-nos a entender como os nossos clientes usam nosso website, para que possamos manter os nossos produtos e serviços relevantes, fáceis de usar e atualizados. Por exemplo, podemos ver quais são os produtos e serviços mais populares, identificar quando e onde ocorrem erros e testar diferentes versões de uma página para fornecer uma experiência online aprimorada.
</p>

<p class="text-justify">Às vezes, os serviços que usamos para coletar estas informações podem ser operados por outras empresas em nosso nome. Elas podem usar tecnologias semelhantes aos cookies, conhecidos como "web beacons" ou "tags". Estes são anónimos e, como são utilizados apenas para fins estatísticos, não contêm nem recolhem qualquer informação que o identifique.</p>

<h5 class="font-weight-bold">Cookies de Segmentação</h5>

<p class="text-justify">Temos relacionamentos com fornecedores cuidadosamente selecionados e monitorizados (terceiros) que também podem configurar cookies durante a sua visita. A finalidade desses cookies é "publicidade comportamental" (também conhecida como "segmentação comportamental" ou "remarketing"), que é um meio de mostrar produtos e serviços relevantes com base no que você parece estar interessado. Embora esses cookies possam rastrear as suas visitas na web eles não sabem quem é você. Sem esses cookies, os anúncios online que você encontrar serão menos relevantes para você e para os seus interesses.</p>

<h2 class="font-weight-bold">GESTÃO DE COOKIES</h2>

<p class="text-justify">A maioria dos navegadores de internet permite que você apague cookies do disco rígido do seu computador, bloqueie todos os cookies (ou apenas cookies de terceiros) ou avise antes que um cookie seja armazenado no seu dispositivo.</p>

<p class="text-justify">Note que, se você optar por bloquear todos os cookies, o nosso website não funcionará como pretendido e você não poderá usar ou acessar muitos dos serviços que fornecemos. Se você bloqueou todos os cookies e deseja fazer uso total dos recursos e serviços que oferecemos, você precisará de permitir os seus cookies. Você pode fazer isso no seu navegador (veja abaixo).</p>

<p class="text-justify">Em vez de bloquear todos os cookies, você pode optar por bloquear apenas cookies de terceiros, que ainda irão permitir que o nosso website funcione conforme pretendido.</p>

<h4 class="font-weight-bold">Como gerir cookies no seu PC</h4>

<p class="text-justify">Para permitir cookies no nosso website, siga os passos abaixo.</p>

<h5 class="font-weight-bold">Google Chrome</h5>

<ol>
  <li>Carregue em "Ferramentas" no topo do seu browser e selecione "Definições".</li>
  <li>Carregue em "Mostrar definições avançadas", faça scroll para baixo para a secção "Privacidade" e carregue em "Definições de Conteúdo."</li>
  <li>Selecione "Permitir que dados locais sejam definidos". Para só aceitar cookies primários, marque a caixa ao lado de "Bloqueie todos os cookies de terceiros sem exceção"</li>
</ol>

<h5 class="font-weight-bold">Microsoft Internet Explorer 6.0, 7.0, 8.0, 9.0</h5>

<ol>
  <li>Carregue em "Ferramentas" no topo do seu browser e selecione "Opções de Internet", depois carregue na tab "Privacidade".</li>
  <li>Verifique se o nível da sua privacidade está definido como Médio ou inferior, o que permitirá o uso de cookies no seu navegador.</li>
  <li>Se definido acima do nível médio, impedirá o uso de cookies.</li>
</ol>

<h5 class="font-weight-bold">Mozilla Firefox</h5>

<ol>
  <li>Carregue em "Ferramentas" no topo do seu browser e selecione "Opções".</li>
  <li>Depois selecione o ícone "Privacidade".</li>
  <li>Carregue em "Cookies" e selecione "Permitir que as páginas criem um cookie."</li>
</ol>

<h5 class="font-weight-bold">Safari</h5>

<ol>
  <li>Clique no ícone de engrenagem na topo do seu browser e selecione "Configurações".</li>
  <li>Carregue na tab "Privacidade", depois selecione a opção "Desativar o uso de cookies por terceiros e cookies de publicidade."</li>
  <li>Carregue em "Guardar".</li>
</ol>

<h4 class="font-weight-bold">Como gerir cookies no seu Mac</h4>

<p class="text-justify">Para permitir cookies no nosso website, siga os passos abaixo.</p>

<h5 class="font-weight-bold">Microsoft Internet Explorer 5.0 on OSX</h5>

<ol>
  <li>Carregue em "Explorador" no topo do seu browser e selecione "Definições".</li>
  <li>Faça scroll para baixo até à secção "Cookies" nos "Ficheiros Recebidos".</li>
  <li>Selecione "Não Perguntar."</li>
</ol>

<h5 class="font-weight-bold">Safari on OSX</h5>

<ol>
  <li>Carregue em "Safari" no topo do seu browser e selecione "Definições".</li>
  <li>Carregue em "Privacidade" e depois "Permitir cookies."</li>
  <li>Selecione "apenas as páginas que você visitou."</li>
</ol>

<h5 class="font-weight-bold">Mozilla and Netscape on OSX</h5>

<ol>
  <li>Carregue em "Mozilla" or "Netscape" no topo do seu browser e selecione "Definições".</li>
  <li>Faça scroll para baixo até à secção "Cookies" sob "Privacidade e Segurança".</li>
  <li>Selecion "Permitir cookies apenas para o site original."</li>
</ol>

<h5 class="font-weight-bold">Opera</h5>

<ol>
  <li>Carregue em "Menu" no topo do seu browser e selecione "Definições".</li>
  <li>Depois selecione a tab "Opção" e "Avançadas".</li>
  <li>Seleciona "Permitir cookies."</li>
</ol>

<h4 class="font-weight-bold">Os nossos cookies</h4>

<p class="text-justify">Na tabela abaixo sistematiza-se alguma informação relacionada com os vários tipos de cookies
  utilizados e o propósito de cada um:</p>

<div class="table-responsive-sm">
  <table class="table table-bordered table-hover table-sm">
    <thead>
      <tr>
        <th scope="col">Origem do Cookie</th>
        <th scope="col">Tipo</th>
        <th scope="col">Finalidade</th>
        <th scope="col">Utilização</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= ENV["HOST"] %></td>
        <td>Sessão</td>
        <td>Funcionais</td>
        <td>Estes cookies são utilizados para suporte a funcionalidades base que requerem autenticação por parte dos
          utilizadores. Estes cookies são automaticamente eliminados quando fechar o browser.</td>
      </tr>
    </tbody>
  </table>
</div>
