<a href="<%= @url %>" class="logo-link" target="_blank">
  <%= image_tag("logo.png", class: "logo") %>
</a>

<h3 class="welcome">Olá <%= @client.name %>!</h3>
<hr>

<p>A tua palavra-pass foi altera com sucesso. <br>
  Já podes aceder à tua <a href="<%= ENV.fetch("HOST", "") %>clients/" target="_blank">Área Privada</a> com os novos dados de acesso.</p>

<p>A equipa do StarPadel Coimbra.</p>
