<a href="<%= @url %>" class="logo-link" target="_blank">
  <%= image_tag("logo.png", class: "logo") %>
</a>

<h3 class="welcome">Olá <%= @client.name %>!</h3>
<hr>
<p>Alguém solicitou um pedido para alterar tua palavra-pass. Pode fazer-lo através do seguinte link: <%= link_to 'Alterar a Minha Palavra-Pass', edit_password_url(@resource, reset_password_token: @token) %></p>


<p>A equipa do StarPadel Coimbra.</p>
<p class="discloser">Se não foste tu, ignore este e-mail.<br>
  A tua palavra-pass não será alterada até que acedas ao link acima e crie uma nova.</p>
