<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Bem vindo ao StarPadel Coimbra, <%= @client.name %></h3>
    <p>Foram geradas novas credenciais para acederes à tua <a href="<%= @url %>">Área Privada</a>.</p>
    <p>Aqui poderás consultar as tuas aulas e os teus vouchers.</p>
    <br>
    <p>Credenciais de acesso:</p>
    <p>Email: <%= @client.email %></p>
    <p>Palavra-Pass: <%= @password %></p>
    <br>
    <p>Deverás alterar a tua Palavra-Pass depois de efetuares login pela primeira vez.</p>
    <br>
    <p>Obrigado por te juntares a nós,</p>
    <p>A equipa StarPadel Coimbra</p>
  </body>
</html>
