<div class="container">
  <%= form_tag(path_url, method: :get) do %>
    <div class="row">
      <% filters_array.each do |filter| %>
        <%= filter(filter, "col-12 col-md-4") %>
      <% end %>
    </div>
  <% end %>
</div>
