<% class_name = instance.class.name.underscore %>

<div class="row">
  <div class="col-6">
    <%= render partial: 'trestle/resource/show_field', locals: { class_name: class_name, field: 'client', value: instance.client } %>
  </div>

  <div class="col-6">
    <dt>
      <span class="label label-info">
        <%= t("activerecord.attributes.#{class_name}.lessons_type") %>
        <dd class="well">
          <%= link_to(instance.lessons_type.name, lessons_type_admin_path(instance.lessons_type)) %>
        </dd>
      </span>
    </dt>
  </div>
</div>

<br>
<%= table ClientLessonsAdmin.table, collection: @lessons.page(params[:page]).per(50) %>
