<h1>HELLO!</h1>
<p>Esta página foi pensada para ser a página principal do site.</p>
<p>Sintam-se livres para fazerem o que quiserem. Podem mesmo apagar/ignorar se acharem que não vale a pena...</p>
<br>
<h3>NOTAS PARA DEVS</h3>
<ul>
  <li>A informação apresentada está "nua". Sintam-se inspirados para deixar isto tudo bonitinho ;)</li>

  <li>ATENÇÃO A ISTO:</li>
  <ul>
    <li>Instalei a versão 4 do Bootstrap</li>
    <ul>
      <li><a href="https://getbootstrap.com/docs/4.0/examples/">Exemplos/Templates</a></li>
      <li><a href="https://icons.getbootstrap.com/">Icons do Bootstrap (posso depois instalar fontawesome)</a></li>
      <li><a href="https://getbootstrap.com/docs/4.0/components/buttons/">Componentes</a></li>
      <li>Se fizerem questão, posso mudar para a versão 5. Mas digam antes de começarem a fazerem a cenas... Instalei a v4 porque já usei uma vez a v5 (mais recente) e ainda há pouca ajuda em stackoverflows e por aí fora...</li>
    </ul>
    <li>Para criar credencias de login:</li>
    <ul>
      <li>Ir ao backoffice/administração (<a href="<%= ENV["HOST"] %>staff/"><%= ENV["HOST"] %>staff/</a>)</li>
      <li>Clientes e abrir o cliente que querem</li>
      <li>Carregar em "Gerar Credenciais" (ou algo do género)</li>
      <li>É gerada uma palavra-pass aleatório e enviada para o email do cliente. Em ambiente de DESENVOLVIMENTO APENAS, podem ir a <a href="http://localhost:3000/letter_opener/">http://localhost:3000/letter_opener/</a> para acederem a uma caixa de saída virtual dos emails enviado em ambiente de desenvolvimento. Em DESENVOLVIMENTO as passwords geradas são todas iguais para ser mais fácil testar: 123456</li>
    </ul>
  </ul>

  <li>CENAS QUE FALTAM:</li>
  <ul>
    <li>Envio de emails com a password (já está a bombar em dev. Depois trato de meter em staging...)</li>
    <li>Discutir com o cliente a possibilidade de editar alguns campos do perfil</li>
    <li>Mais cenas que me vá lembrando entretanto...</li>
  </ul>

</ul>
