/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap/scss/bootstrap";
@import "font-awesome";

/* unvisited link */
a:link {
  color: #ffa722;
}

/* visited link */
a:visited {
  color: #ffa722;
}

/* mouse over link */
a:hover {
  color: #ec8e00;
}

/* selected link */
a:active {
  color: #ca8319;
}

a.icon:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a.icon:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a.icon:hover {
  color: rgb(231, 229, 229);
  text-decoration: none;
}

/* selected link */
a.icon:active {
  color: white;
  text-decoration: none;
}

.fixed-top {
  @media (min-height: 512px) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
}

/*
*
* ==========================================
* BREADCRUMB
* ==========================================
*
*/
.breadcrumb {
  background-color: #30353b;
  margin-bottom: 0rem;
  box-shadow: 0 0.12rem 0.9rem rgba(0, 0, 0, 0.5) !important;
  border-radius: 0 0 0 0;
}

/* Arrow Breadcrumb */
.breadcrumb-arrow .breadcrumb-item + .breadcrumb-item::before {
  content: "";
}

.breadcrumb-arrow {
  height: 40px;
  line-height: 40px;
}

.breadcrumb-arrow .breadcrumb-item:first-child a {
  border-radius: 0px 0 0 0px;
}

.breadcrumb-arrow .breadcrumb-item,
.breadcrumb-arrow .breadcrumb-item a,
.breadcrumb-arrow .breadcrumb-item span {
  display: inline-block;
  vertical-align: top;
  transition: border 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.breadcrumb-arrow .breadcrumb-item:not(:first-child) {
  margin-left: -1px;
}

.breadcrumb-arrow .breadcrumb-item + .breadcrumb-item:before {
  padding: 0;
  content: "";
}

.breadcrumb-arrow .breadcrumb-item a,
.breadcrumb-arrow .breadcrumb-item.active {
  height: 40px;
  padding: 0 10px 0 25px;
  line-height: 40px;
  color: white;
}

.breadcrumb-arrow .breadcrumb-item a {
  position: relative;
  color: #fff;
  text-decoration: none;
  background-color: #ffa722;
  border: 1px solid #ffa722;
}

.breadcrumb-arrow .breadcrumb-item a:after,
.breadcrumb-arrow .breadcrumb-item a:before {
  position: absolute;
  top: -1px;
  width: 0;
  height: 0;
  content: "";
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  transition: border 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.breadcrumb-arrow .breadcrumb-item a:before {
  right: -10px;
  z-index: 3;
  border-left-color: #ffa722;
  border-left-style: solid;
  border-left-width: 11px;
}

.breadcrumb-arrow .breadcrumb-item a:after {
  right: -11px;
  z-index: 2;
  border-left: 11px solid #ca7900;
}

.breadcrumb-arrow .breadcrumb-item a:focus,
.breadcrumb-arrow li a:hover {
  background-color: #f89500;
  border: 1px solid #f89500;
}

.breadcrumb-arrow .breadcrumb-item a:focus:before,
.breadcrumb-arrow li a:hover:before {
  border-left-color: #f89500;
}

.breadcrumb-arrow li.active:after,
.breadcrumb-arrow li.active:before {
  border-left-color: #ca7900;
}

body,
html {
  min-height: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, Liberation Sans,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  text-align: left;
  background-color: #f3f3f3;
}

.app-wrapper,
body {
  display: flex;
  overflow: hidden;
}

.app-wrapper {
  flex: 1;
  align-items: stretch;
  position: relative;
  width: 100%;
  min-width: 0;
}

.app-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.app-main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.app-footer {
  flex-shrink: 0;
  background: #30353b;
  color: #fff;
  padding: 0.5rem 1.4rem;
  font-size: 0.75rem;
  height: 75px;
  box-shadow: 0 0.12rem 0.9rem rgba(0, 0, 0, 0.5) !important;
}

// .ghost {
//   display: none;

//   // Small devices (landscape phones, 576px and up)
//   @media (min-width: 576px) {
//     display: none;
//   }

//   // Medium devices (tablets, 768px and up)
//   @media (min-width: 768px) {
//     display: block;
//   }

//   // Large devices (desktops, 992px and up)
//   @media (min-width: 992px) {
//     display: block;
//   }

//   // Extra large devices (large desktops, 1200px and up)
//   @media (min-width: 1200px) {
//     display: block;
//   }
// }

.table {
  background-color: white;
}

.form-control:focus {
  border-color: #ffa722;
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 167, 34, 0.5);
}

.title {
  color: orange;
}

.table-responsive {
  margin-top: 32px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.table-mobile {
  display: none !important;

  @media (min-width: 768px) {
    display: block !important;
  }
}

.list-mobile {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  display: none !important;

  @media (max-width: 768px) {
    display: block !important;
  }
}

.filter {
  display: inline-block;
  width: 300px;
  margin-right: 8px;
}

.input-group {
  max-width: 300px;
}
