.texto {
  color: orange;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.info {
  color: rgb(71, 71, 71);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p.profile-header {
  margin-bottom: 0rem !important;
}

.avatar {
  width: 100%;
  max-width: 300px;
  border-radius: 0.25rem !important;
  height: auto;
  vertical-align: middle;
  border-style: none;
}
