<footer class="app-footer">
  <div class="align-self-center" style="font-size: 13px;">Powered by MEI-DEI Group</div>
  <div class="align-self-center app-footer-icons">
    <a href="https://www.facebook.com/StarPadelCoimbra/" class="icon" target="_blank"><%= fa_icon "facebook", class: "fa-3x pr-5" %></a>
    
    <a href="https://www.instagram.com/star_padel/" class="icon" target="_blank"><%= fa_icon "instagram", class: "fa-3x pr-5" %></a>
  </div>
</div>
</footer>
