<footer class="app-footer">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="align-self-center">
        <a href="https://www.facebook.com/StarPadelCoimbra" class="icon" target="_blank"><%= fa_icon "facebook", class: "fa-3x pr-4" %></a>
        <a href="https://www.instagram.com/star_padel/" class="icon" target="_blank"><%= fa_icon "instagram", class: "fa-3x pl-4" %></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col d-flex justify-content-between">
      <div class="align-self-center" style="font-size: 15px;">
        <%= link_to("Política de Cookies", cookies_policy_path) %>
      </div>
      <div class="align-self-center" style="font-size: 13px;">
        Powered by MEI-DEI Group
      </div>
    </div>
  </div>
</footer>
