<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      .welcome {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: normal;
        line-height: 1.25;
        font-size: 32px;
        color: #151e27;
        text-align: left;
        margin: 20px 0
      }

      a.logo-link {
        text-decoration: none;
        color: #0654ba
      }

      .logo {
        display: inline-block;
        text-decoration: none;
        border: none;
        width: 133px;
      }

      p {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: normal;
        color: #333333;
        text-align: left;
        font-size: 14px;
        line-height: 24px;
        border-collapse: collapse !important;
        border-spacing: 0 !important;
        border: none;
        padding: 0 0 20px
      }

      hr {
        max-width: 112px;
        margin-left: 0;
        border: 2px solid #ffa722
      }

      p.discloser {
        font-family: Helvetica, Arial, sans-serif;
        font-weight: normal;
        line-height: normal;
        color: #707070;
        text-align: left;
        font-size: 11px;
        margin: 0 0 10px
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>

</html>
